@{
    ViewBag.Title = "About";
}
<h1>WE'RE THE NUMBER ONE CAR SALES COMPANY IN <strong>AMERICA</strong></h1>
<p><strong>AND WE LIVE BY ONE MOTTO</strong></p>
<div>
    <img Src="http://www.navigatingventure.com/wp-content/uploads/2011/05/10000231-00-00-00-00_lg.png" />
</div>